@use 'variables';

.light-theme {
  background-color: variables.$light-background;
  color: variables.$light-text-color;
}

.dark-theme {
  background-color: variables.$dark-background;
  color: variables.$dark-text-color;
}