<div class="fullpage-container" appFullpageScroll>
  <section class="page-section">
    <app-hero></app-hero>
  </section>

  <section class="page-section">
    <app-skills></app-skills>
  </section>

  <section class="page-section">
    <app-journey></app-journey>
  </section>

  <section class="page-section">
    <app-school></app-school>
  </section>

  <section class="page-section">
    <app-work></app-work>
  </section>

  <section class="page-section">
    <app-contact></app-contact>
  </section>
</div>
